body {
	height: initial;
	position: relative;
	margin: 0;
	/*
	display:flex;
	justify-content:center;*/
}
.small {
	font-size: 13px;
}
.big {
	font-size: 19px;
}
.monospaced {
	padding-top: 8px;
	font-family: monospace !important;
}